<div class="row mt-3">
  <div class="col-12">
    <h1>Metà popcorn, metà cervello - Benvenuto a <span class="highlight">{{title}}</span>!</h1>
    <h2>Ecco il copione del tuo nuovo gioco preferito:</h2>
<ol>
    <li><span class="highlight">Luci, macchina, mistero:</span> ogni partita inizia con un colpo di scena: un criterio enigmatico! Che sia l'anno di uscita, i premi vinti, gli incassi
       o la lunghezza dei baffi del protagonista, starà a te mettere i film in ordine!</li>
    
    <li><span class="highlight">Sposta, rilascia, vinci:</span> trascina e rilascia le locandine per creare la tua sequenza vincente. Quando ti senti pronto per l'Oscar, premi "conferma".
       Nessuna fretta, ricorda: nei film i finali migliori richiedono tempo!</li>
    
    <li><span class="highlight">Un botteghino di punti:</span> ogni film al suo posto è un biglietto per 10 punti. Più film indovini, più il tuo punteggio si gonfia come un sacchetto 
      di popcorn!</li>
    
    <li><span class="highlight">Il tuo momento da critico:</span> dopo aver fatto il tuo show, salvati un souvenir: scegli i film che ti hanno colpito di più, dà loro un voto e scrivi
       una recensione veloce quanto un trailer, massimo 160 caratteri. Il tuo tappeto rosso per la critica!</li>
    
    <li><span class="highlight">La tua cineteca personale:</span> ogni film che salvi sarà custodito nella tua lista dei preferiti. Cambiato idea su un film? Nessun problema, puoi farlo
       sparire con un clic, come in un film di magia!</li>
    
    <li><span class="highlight">Un Oscar di soddisfazioni:</span> ogni turno è un'occasione per controllare la classifica. Sarai tu il miglior cinefilo?</li>
    
    <li><span class="highlight">Il gran finale:</span> la partita terminerà una volta confermato l'ordine dei film, ma non preoccuparti: puoi farne quante ne vuoi. Sarà un finale 
    da standing ovation per te?</li>
  </ol>
    <p>Ricorda, l'importante non è solo vincere, ma godersi ogni scena! <span class="highlight">Pronto per l'azione?</span></p>
  </div>
</div>

