<div class="card-container">
  <div class="card">
  <div class="card-body">
    <div class="image-container" (click)="imgClick()">
      <div class="card-menu-container">
        <mat-menu #menu="matMenu">
          <button class="delete-button" mat-menu-item (click)="deleteClick()">
            <mat-icon class="delete">delete</mat-icon> Delete
          </button>
          <button mat-menu-item (click)="editClick()">
            <mat-icon class="edit">edit</mat-icon>
            <span style="color: black !important">Edit</span>
          </button>
        </mat-menu>
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Menu"
          (click)="$event.stopPropagation()"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <img
        [src]="
          'https://image.tmdb.org/t/p/w220_and_h330_face/' +
          myMovieReview.moviePoster_Path
        "
        [alt]="myMovieReview.movieTitle"
        class="card-img-top"
      />
    </div>
  </div>
</div>
