$primary-palette: (
    50: #e6e6e6,
    100: #cccccc,
    200: #b3b3b3,
    300: #999999,
    400: #808080,
    500: #666666,
    600: #4d4d4d,
    700: #333333,
    800: #1a1a1a,
    900: #000000,
 contrast: (
  50: black,
  100: black,
  200: black,
  300: black,
  400: black,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white
 )
);

$secondary-palette: (
    50: #e6e6e6,
    100: #cccccc,
    200: #b3b3b3,
    300: #999999,
    400: #808080,
    500: #666666,
    600: #4d4d4d,
    700: #333333,
    800: #1a1a1a,
    900: #000000,
 contrast: (
  50: black,
  100: black,
  200: black,
  300: black,
  400: black,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white
 )
);
