.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: "Sen", sans-serif;
    display: flex;
    align-items: center;
  
    mat-icon {
      color: white;
    }
  
    span {
      margin-left: 10px;
      max-width: 0;
      overflow: hidden;
      color: white;
      transition: max-width 0.3s ease-out;
    }
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    cursor: pointer;
  
    span {
      max-width: 200px;
    }
  
    .icon-book-active {
      color:  #c0c0c0;
    }
  
    .icon-games-active {
      color: #8cf66b;
    }
  
    .icon-scoreboard-active {
      color: #67d9f6;
    }
  
    .icon-star-active {
      color: #f7d74c;
    }
  
    .icon-account_circle-active {
      color: #ea8b0f;
    }
  }
  
  @media (max-width: 768px) {
    .navbar-dark .navbar-nav .nav-link span {
      max-width: 200px;
    }
  }
  