.movie-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: 'Sen', sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

  h4 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  li {
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
    list-style: none;
  }

  .movie-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .movie-title {
    display: flex;
    align-items: center;
    position: relative;
  }

  .icon-and-text {
    display: flex;
    align-items: center;

    mat-icon {
      margin-left: 10px;
      transition: all 0.3s ease;
    }

    .icon-text {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
      white-space: nowrap;
      background-color: #ffffff;
      padding: 5px;
      border-radius: 5px;
      pointer-events: none;
      margin-left: 10px;
    }

    &:hover .icon-text {
      visibility: visible;
      opacity: 1;
      font-size: 15px;
    }
  }

  .orange-text {
    color: #ff9900;
    font-weight: bold;
  }

  .black-text {
    color: #000000;
    font-weight: bold;
  }
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  width: calc(20% - 40px); 
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .movie-card {
    width: calc(25% - 40px);
  }
  .movie-list {
    width: 90%; 
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .movie-card {
    width: calc(33.33% - 40px); 
  }
  .movie-list {
    width: 95%; 
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .movie-card {
    width: calc(50% - 40px); 
  }
  .movie-list {
    width: 100%; 
  }
}

@media (max-width: 480px) {
  .movie-card {
    width: calc(100% - 40px); 
  }
  .movie-list {
    width: 100%; 
  }
}