footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

#page-container {
  position: relative;
  min-height: 15vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer span {
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    height:3.8vh;
    justify-content: center;
    align-items: center; 
  }
}