.card-body {
    position:relative; 
    transition: transform 0.2s ease;
    border-radius: 15px
  }
  

  .card-img-top {
    max-width: 110%; 
    max-height:110%; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5), 0px 0px 8px black; 
    cursor: pointer;
  }
  
  .card-body:hover {
    transform: scale(1.15);
  }
  
  .card-title {
    font-size: 15px;
  }